pipeline/Data Ingestion from RestAPI.json
{
	"name": "Data Ingestion from RestAPI",
	"properties": {
		"activities": [
			{
				"name": "RestAPI",
				"description": "When the data is in the form of JSON use RestAPI",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://dummyjson.com/products"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "RestAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResourceSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "JsonOutput",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@concat('products_', formatDateTime(activity('RestAPI').output.products.title), 'yyyyMMdd')\n\n",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": []
	}
}