pipeline/IncrementalLoadSql.json
{
	"name": "IncrementalLoadSql",
	"properties": {
		"activities": [
			{
				"name": "Extract Current Load Date",
				"description": "For fetching the last update date in the source",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(last_modified) as last_modified_date from dbo.tbluser",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTableSourceTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Extract Last Load Date",
				"description": "For fetching the last edit/inserted",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select lastloaddate as last_load_date from dbo.tblcontrol ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTableControlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Incremental Load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Extract Last Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Extract Current Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.tbluser where last_modified_date>= '@{activity('Extract Current Load Date').output.firstRow.last_modified_date}' and last_modified_date > '@{activity('Extract Last Load Date').output.firstRow.last_load_date}'\n\n\n\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTableSourceTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTableDestinationTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update Control Table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Incremental Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateControlTable]",
					"storedProcedureParameters": {
						"lastloaddatecontrol": {
							"value": {
								"value": "@activity('Extract Current Load Date').output.value.last_modified_date",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseSource",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}